.toggle-button {
  background-color: rgb(230, 230, 230);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
}
h1{
  color: green;
}
.is-toggled {
  background-color: green;
  color: whitesmoke;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.button-box{
  border: 2px solid whitesmoke;
}
.toggle-button:hover{
  opacity: 0.5;
}